{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/9739621/400x800) no-repeat center center"></section>
    <section class="details">
      
      <h3>Detalhes</h3>

      <div class="item">
        <div>Instrutor</div>
        <div>João Paulo Ribeiro</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>29</div>
      </div>

      <div class="item">
        <div>Escolaridade</div>
        <div>Mestrado</div>
      </div>

      <div class="item">
        <div>Tipo de aula</div>
        <div>
          <span>Presencial</span>
          <span>A Distância</span>
        </div>
      </div>

      <div class="item">
        <div>Acompanhamento</div>
        <div>
          <span>Arte</span>
          <span>Música</span>
        </div>
      </div>

      <div class="item">
        <div>Desde</div>
        <div>18/11/2020</div>
      </div>
    </section>
  </div>
{% endblock content %}